<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NetFramework, Version=v4.7.2"/>
	</startup>
	
	<connectionStrings>
		<add name="ConnectionStringName" connectionString="server=WINDOWS-11\SQLEXPRESS;
database=RestaurantManagement; integrated security=true;"/>
	</connectionStrings>
	
</configuration>